html {overflow: -moz-scrollbars-vertical;}

body {
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3C3D3F;
    text-align: left;
    max-width: 1200px;
    margin: auto;
}

h1{
    font-size: 35px;
    text-align: center;
}
#demo_icon{
    max-height:70px;
}
#demo_icon2{
    max-height:70px;
}
#heading{
    font-weight: bold;
    font-size: 18px;
    text-align: center
}
#numbers{
    font-size: 28px;
    font-weight: bold;
}
th{
    text-align:center;
    width:300px;
}

td{
    text-align: center;
    padding-left: 7 % 
}
header{
    display:flex;
    margin-top:36px;
    justify-content:flex-end;
}

header h1{
    margin: 0px 0px 0px 64px;
    padding-top:4px;
    text-align:center;
    width:100%;
    font-size:48px;
}

.header_button{
    width:80px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
}

#close_button{
    background-image: url('../media/close33.png');
}

#admin_button{
    background-image: url('../media/add121.png');
}





