.success.form-signin-heading {
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 8%;
    z-index: 1;
    background-color: rgba(0,200,83,0.9);
    width: 90%;
    margin-left: 6%;
    font-size: 50px;
}

span#subhead {
    font-size: 30px;
    display: inline-block;
}

.err.success.form-signin-heading {
  width:95%;
  margin-left:4%;
  margin-top: 10%;
  background-color: rgba(213,0,0,0.8);

}

@media (max-width: 768px) {

.success.form-signin-heading{
  margin-top: 20%;
  margin-left: 3%;
  width: auto;
}

span#subhead {
  padding-top: 10%;
}
}
